<h1>Barcode scanning index page</h1>
<p>This is the index page, all barcodes are here:</p>

<% @codes.each do |code| %>
	<%= code.barcode %>
	<br>
<% end %>


<%= link_to "Enter new code here", new_code_path %>