 

<h1>Scan new codes</h1>
<p>Create new barcode in database</p>

<%= render 'new_form' %>

<div style="width:330px;float:left;">
	<div id="webcam"></div>
	
</div>

<!-- <div style="width:135px;float:left;">
	<p><button class="btn btn-small" id="btn1" onclick="$('#code_barcode').attr('value',$.scriptcam.getBarCode());">
	Decode image
	</button></p>
</div> -->
		
<div style="width:200px;float:left;">
	<p id="decoded"></p>
</div>